.button {
  background: $button-color;
  padding: $m-size;
  border: 1px solid $button-color;
  color: $white;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include bezier-transition(all, .3s, ease);

  &:hover {
    cursor: pointer;
    background: $button-hover;
    border: 1px solid $button-hover;
    text-decoration: none;
  }
}

.button:disabled {
  opacity: .5;

  &:hover {
    cursor: not-allowed;   
    // background: none;
  }
}

.button-link {
  @extend .button;
  background: none;
  color: $black;
  border: none;

  &:hover {
    background: none;
    border: none;
  }
}

.button-muted {
  @extend .button;
  background: $background-color-01;
  color: lighten($paragraph-color, 20%);
  border: 1px solid $border-color;

  &:hover {
    background: $background-color;
    border: 1px solid $border-color-focus;
  }
}

.button-block {
  display: block;
  width: 100%;
}

.button-border {
  background: transparent;
  border: 1px solid $button-color;
  color: $button-color;

  &:hover {
    background: $border-color;
    border: 1px solid $button-color;
  }
}

.button-danger {
  background: red;
  color: #fff;

  &:hover {
    background: darken(red, 10%);
  }
}

.button-border-gray {
  border: 1px solid $border-color;
  color: $paragraph-color;

  &:hover {
    border: 1px solid $border-color;
    background: $border-color;
  }
}

.button-small {
  font-size: $font-small;
  padding: $s-size $m-size;
}
.button-icon {
  display: flex;
  text-align: center;
  align-items: center;
  text-align: center;

  & * {
    font-size: inherit;
  }
}

.aws-btn {
  --button-default-height: 47px;
  --button-default-font-size: 18px;
  --button-default-border-radius: 0px;
  --button-horizontal-padding: 32px;
  --button-raise-level: 7px;
  --button-hover-pressure: 4;
  --transform-speed: 0.35s;
  --button-primary-color: #1e88e5;
  --button-primary-color-dark: #1360a4;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #187bd1;
  --button-primary-color-active: #166dba;
  --button-primary-border: none;
  --button-secondary-color: #f2f6f9;
  --button-secondary-color-dark: #1360a4;
  --button-secondary-color-light: #1e88e5;
  --button-secondary-color-hover: #e1eaf1;
  --button-secondary-color-active: #cfdee9;
  --button-secondary-border: 2px solid #1e88e5;
  --button-anchor-color: #0e4f88;
  --button-anchor-color-dark: #072743;
  --button-anchor-color-light: #ffffff;
  --button-anchor-color-hover: #0d4a7f;
  --button-anchor-color-active: #0c4271;
  --button-anchor-border: none;
  --button-danger-color: #c42e2e;
  --button-danger-color-dark: #861f1f;
  --button-danger-color-light: #ffffff;
  --button-danger-color-hover: #bc2c2c;
  --button-danger-color-active: #af2929;
  --button-danger-border: none;
}