.navigation {
  width: 100%;
  height: 8rem;
  background: rgb(160, 159, 153);//$background-color;
  opacity: 80%;
  display: flex;
  align-items: center;
  padding: .5rem 5rem;
  padding-top: 1rem;
  position: absolute;
  top: 0;
  transform: translateY(0);
  z-index: map-get($z-index, navigation);
  box-shadow: none;
  @include bezier-transition(transform, .3s, ease);

  @include tablet {
    padding: .5rem 2rem;
  }

  @include mobile {
    padding: 0 $s-size;
    position: fixed;
  }

  .logo {
    height: inherit;
    margin-right: 2rem;
  }

  .logo img {
    width: 15rem;
    height: inherit;
    object-fit: contain;
  }

  .logo a {
    display: block;
    height: 100%;
  }

  .searchbar {
    width: 300px;
  }


  
}

.navigation-company-name {
  //font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 105.556% */
  color: #FFF;

}

.navigation-bottom {
  width: 100%;
  height: 8rem;
  background: rgb(150, 144, 123); //$background-color;
  opacity: 40%;
  display: flex;
  align-items: center;
  padding: .5rem 5rem;
  padding-top: 3rem;
  position: absolute;
  bottom: 0px;
  transform: translateY(0);
  z-index: map-get($z-index, navigation);
  box-shadow: none;
  @include bezier-transition(transform, .3s, ease);

  @include tablet {
    padding: .5rem 2rem;
  }

  @include mobile {
    padding: 0 $s-size;
    position: fixed;
  }

  .logo {
    height: inherit;
    margin-right: 2rem;
  }

  .logo img {
    width: 15rem;
    height: inherit;
    object-fit: contain;
  }

  .logo a {
    display: block;
    height: 100%;
  }

  .searchbar {
    width: 300px;
  }
}

.navigation-admin {
  height: 6rem;
  background: $white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
  padding: .5rem $l-size;
  display: flex;
  justify-content: space-between;
}




//this is the menu for the client
.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  text-align: right;
  float: right;
}

.navigation-menu-buttons {
  display: inline-flex;
  padding: 0px 25px;
  align-items: flex-start;
  gap: 50px;
  li {
    display: inline-block;
    a {
      padding: 10px 15px;
      font-size: 1.4rem;
      opacity: .5;
      
      &:hover {
        background: $background-color-01;
      }
    }
  }
}

.navigation-menu-item {
  height: 100%;
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.navigation-action {
  display: flex;
  align-items: center;
  //margin-left: $xxl-size;


}

.navigation-menu-link {
  color: $heading-color;
  padding: $xs-size $m-size;
  text-decoration: none;
  font-size: $font-small;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;

  &:hover {
    text-decoration: none;
    background: $background-color-01;
  }
}

.navigation-menu-active {
  color: #FFF;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 105.263% */
  text-transform: lowercase;
  font-weight: bold;
  opacity: 1 !important;
}