::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

html {
  scroll-snap-type: y mandatory;
}


section {
  top: 80vh;
  bottom: 80vh;
  position: relative;
}


.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  background-color: aqua;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 190px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}

.scrolling-font{
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 80px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}
