.about-me-title {
  color: #FFF;
  font-size: 111.5px;
  font-style: normal;
  font-weight: 400;
  line-height: 108.75px; /* 97.534% */
  width: 929px;
  height: 100vh;
  top: -56px;
  position: absolute;
}