.caroselling-it {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.caroselling-it .div-container-wrapper {
  background-color: #000000;
  height: 9963.72px;
  width: 1440px;
}

.caroselling-it .div-container {
  height: 9964px;
  position: relative;
}

.caroselling-it .main-content {
  height: 8844px;
  left: 0;
  position: absolute;
  top: 178px;
  width: 1440px;
}

.caroselling-it .div {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 0;
  padding: 0px 60px;
  position: absolute;
  top: 33px;
}

.caroselling-it .div-2 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 27.67px 0px 0px;
  position: relative;
}

.caroselling-it .h {
  height: 430.42px;
  margin-bottom: -34.41px;
  margin-left: -18.27px;
  margin-top: -42.09px;
  position: relative;
  width: 1338.27px;
}

.caroselling-it .div-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  margin-top: -297.67px;
  padding: 0px 11.75px 165.34px 0px;
  position: relative;
}

.caroselling-it .usiamo-il-design-per {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  width: 340.75px;
}

.caroselling-it .text-wrapper {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
}

.caroselling-it .span {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
}

.caroselling-it .realizziamo-siti-web {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  width: 328.72px;
}

.caroselling-it .div-4 {
  height: 144px;
  position: relative;
  width: 1320px;
}

.caroselling-it .div-5 {
  height: 144px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

.caroselling-it .span-2 {
  border-color: #ffffff;
  border-left-style: solid;
  border-left-width: 1px;
  height: 144px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.caroselling-it .p {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 26px;
  left: 16px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 117px;
  white-space: nowrap;
  width: 178px;
}

.caroselling-it .svg {
  height: 32px;
  left: 300px;
  position: absolute;
  top: 109px;
  width: 32px;
}

.caroselling-it .div-6 {
  height: 431px;
  left: 60px;
  position: absolute;
  top: 799px;
  width: 1320px;
}

.caroselling-it .div-wrapper {
  height: 25px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 10px;
  width: 112px;
}

.caroselling-it .noi-noi-noi {
  color: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 26px;
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: -2px;
  white-space: nowrap;
  width: 113px;
}

.caroselling-it .text-wrapper-2 {
  color: #0045ff;
}

.caroselling-it .text-wrapper-3 {
  color: #ffffff;
}

.caroselling-it .span-3 {
  background-color: #ffffff;
  height: 1px;
  left: 865px;
  position: absolute;
  top: 22px;
  width: 455px;
}

.caroselling-it .div-7 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 70.25px;
  left: 112px;
  padding: 0px 1.06px 0px 0px;
  position: absolute;
  top: -1px;
}

.caroselling-it .text-wrapper-4 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 42px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 48.8px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.caroselling-it .div-8 {
  height: 264px;
  position: relative;
  width: 442.5px;
}

.caroselling-it .p-2 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 0;
  padding: 0px 89.5px 0px 0px;
  position: absolute;
  top: 0;
}

.caroselling-it .text-wrapper-5 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 21.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.caroselling-it .strong {
  background-color: #0045ff;
  height: 28px;
  margin-top: -2px;
  position: relative;
  width: 276.2px;
}

.caroselling-it .text-wrapper-6 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20.5px;
  font-weight: 400;
  height: 28px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 276px;
}

.caroselling-it .non-amiamo-i {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20.5px;
  font-weight: 400;
  height: 72px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 63px;
  width: 408px;
}

.caroselling-it .text-wrapper-7 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20.5px;
  font-weight: 400;
  height: 48px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 151px;
  width: 348px;
}

.caroselling-it .overlap-group-wrapper {
  height: 48px;
  left: 0;
  position: absolute;
  top: 216px;
  width: 442px;
}

.caroselling-it .overlap-group {
  height: 51px;
  position: relative;
  top: -1px;
  width: 310px;
}

.caroselling-it .ti-diremo-che-faremo {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20.5px;
  font-weight: 400;
  height: 48px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
}

.caroselling-it .strong-2 {
  background-color: #0045ff;
  height: 28px;
  left: 154px;
  position: absolute;
  top: 23px;
  width: 86px;
}

.caroselling-it .text-wrapper-8 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20.5px;
  font-weight: 400;
  height: 28px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 86px;
}

.caroselling-it .div-9 {
  border-color: #ffffff;
  border-top-style: solid;
  border-top-width: 1px;
  height: 546px;
  left: 60px;
  position: absolute;
  top: 1430px;
  width: 1320px;
}

.caroselling-it .servizi-servizi-wrapper {
  height: 49px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 26px;
  width: 128px;
}

.caroselling-it .servizi-servizi {
  color: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-size: 31px;
  font-weight: 400;
  height: 58px;
  left: 0;
  letter-spacing: 0;
  line-height: 48.8px;
  position: absolute;
  top: -6px;
  white-space: nowrap;
  width: 128px;
}

.caroselling-it .div-10 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  left: 330px;
  padding: 10px 0px 210px;
  position: absolute;
  top: 26px;
}

.caroselling-it .a {
  height: 35px;
  position: relative;
  width: 176.56px;
}

.caroselling-it .text-wrapper-9 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 32px;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: -2px;
  white-space: nowrap;
}

.caroselling-it .a-after {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 1px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 177px;
}

.caroselling-it .ul {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 125px 0px 0px;
  position: relative;
}

.caroselling-it .text-wrapper-10 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.caroselling-it .text-wrapper-11 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 35px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.caroselling-it .text-wrapper-12 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 35px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.caroselling-it .div-11 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  left: 660px;
  padding: 10px 0px 0px;
  position: absolute;
  top: 26px;
}

.caroselling-it .a-2 {
  height: 35px;
  position: relative;
  width: 154.2px;
}

.caroselling-it .a-after-2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 1px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 154px;
}

.caroselling-it .ul-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 50px 0px 0px;
  position: relative;
}

.caroselling-it .text-wrapper-13 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.caroselling-it .div-12 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  left: 990px;
  padding: 10px 0px 105px;
  position: absolute;
  top: 26px;
}

.caroselling-it .a-3 {
  height: 35px;
  position: relative;
  width: 159.91px;
}

.caroselling-it .text-wrapper-14 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 29px;
  font-weight: 400;
  height: 32px;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: -2px;
  white-space: nowrap;
}

.caroselling-it .a-after-3 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 1px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 160px;
}

.caroselling-it .ul-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 23px 0px 0px;
  position: relative;
}

.caroselling-it .overlap-wrapper {
  height: 405px;
  left: 0;
  position: absolute;
  top: 2156px;
  width: 1440px;
}

.caroselling-it .overlap {
  height: 405px;
  left: 60px;
  position: relative;
  width: 1380px;
}

.caroselling-it .div-13 {
  background-image: url(./home-quote-1-jpg.png);
  background-size: 100% 100%;
  height: 405px;
  left: 660px;
  position: absolute;
  top: 0;
  width: 720px;
}

.caroselling-it .div-14 {
  height: 248px;
  left: 0;
  position: absolute;
  top: 79px;
  width: 1320px;
}

.caroselling-it .h-2 {
  height: 248px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1178px;
}

.caroselling-it .overlap-group-2 {
  height: 218px;
  position: relative;
  top: 40px;
  width: 1042px;
}

.caroselling-it .text-wrapper-15 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 82.5px;
  font-weight: 400;
  height: 165px;
  left: 0;
  letter-spacing: 0;
  line-height: 82.5px;
  position: absolute;
  top: 0;
  width: 1042px;
}

.caroselling-it .strong-3 {
  background-color: #0045ff;
  height: 105px;
  left: 544px;
  position: absolute;
  top: 113px;
  width: 438px;
}

.caroselling-it .text-wrapper-16 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 77.5px;
  font-weight: 400;
  height: 105px;
  left: 0;
  letter-spacing: 0;
  line-height: 82.5px;
  position: absolute;
  top: -1px;
  width: 438px;
}

.caroselling-it .text-wrapper-17 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 19px;
  font-weight: 400;
  height: 50px;
  left: 1238px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: right;
  top: 97px;
  width: 82px;
}

.caroselling-it .div-15 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 80px;
  left: 0;
  padding: 0px 15px 0px 60px;
  position: absolute;
  top: 2766px;
}

.caroselling-it .div-16 {
  height: 214.5px;
  position: relative;
  width: 1320px;
}

.caroselling-it .div-17 {
  color: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 26px;
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: -2px;
  white-space: nowrap;
  width: 113px;
}

.caroselling-it .span-4 {
  background-color: #ffffff;
  height: 1px;
  left: 748px;
  position: absolute;
  top: 22px;
  width: 572px;
}

.caroselling-it .div-18 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 69.5px;
  left: 112px;
  padding: 0px 2.61px 0px 0px;
  position: absolute;
  top: 0;
}

.caroselling-it .text-wrapper-18 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 43px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 48.8px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.caroselling-it .p-3 {
  height: 96px;
  position: relative;
  width: 442.5px;
}

.caroselling-it .overlap-group-3 {
  height: 96px;
  position: relative;
  top: -1px;
  width: 437px;
}

.caroselling-it .text-wrapper-19 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 22.5px;
  font-weight: 400;
  height: 72px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  width: 437px;
}

.caroselling-it .strong-4 {
  background-color: #0045ff;
  height: 28px;
  left: 183px;
  position: absolute;
  top: 47px;
  width: 114px;
}

.caroselling-it .text-wrapper-20 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20.5px;
  font-weight: 400;
  height: 28px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 114px;
}

.caroselling-it .text-wrapper-21 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 22.5px;
  font-weight: 400;
  height: 48px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 48px;
  width: 432px;
}

.caroselling-it .div-19 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 0px 0px 67.5px;
  position: relative;
}

.caroselling-it .div-20 {
  height: 433px;
  position: relative;
  width: 1297.5px;
}

.caroselling-it .div-21 {
  height: 131px;
  left: 0;
  position: absolute;
  top: 75px;
  width: 432px;
}

.caroselling-it .div-22 {
  height: 110px;
  left: 45px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 116px;
}

.caroselling-it .text-wrapper-22 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 106px;
  font-weight: 400;
  height: 141px;
  left: 0;
  letter-spacing: 0;
  line-height: 110px;
  position: absolute;
  top: -17px;
  width: 116px;
}

.caroselling-it .p-4 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 205px;
  padding: 0px 8.6px 0px 0px;
  position: absolute;
  top: 8px;
}

.caroselling-it .text-wrapper-23 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  width: 173.9px;
}

.caroselling-it .strong-5 {
  background-color: #0045ff;
  height: 28px;
  margin-top: -2px;
  position: relative;
  width: 124.09px;
}

.caroselling-it .text-wrapper-24 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20.5px;
  font-weight: 400;
  height: 28px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 124px;
}

.caroselling-it .div-23 {
  height: 131px;
  left: 432px;
  position: absolute;
  top: 75px;
  width: 432px;
}

.caroselling-it .div-24 {
  height: 110px;
  left: 45px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 137px;
}

.caroselling-it .text-wrapper-25 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 110px;
  font-weight: 400;
  height: 141px;
  left: 0;
  letter-spacing: 0;
  line-height: 110px;
  position: absolute;
  top: -17px;
  width: 137px;
}

.caroselling-it .p-5 {
  height: 120px;
  left: 205px;
  position: absolute;
  top: 8px;
  width: 182px;
}

.caroselling-it .overlap-group-4 {
  height: 120px;
  position: relative;
  top: -1px;
  width: 153px;
}

.caroselling-it .text-wrapper-26 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 21.5px;
  font-weight: 400;
  height: 24px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.caroselling-it .strong-6 {
  background-color: #0045ff;
  height: 28px;
  left: 0;
  position: absolute;
  top: 23px;
  width: 93px;
}

.caroselling-it .text-wrapper-27 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 21.5px;
  font-weight: 400;
  height: 28px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 93px;
}

.caroselling-it .text-wrapper-28 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 22.5px;
  font-weight: 400;
  height: 96px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 24px;
  width: 153px;
}

.caroselling-it .div-25 {
  height: 131px;
  left: 865px;
  position: absolute;
  top: 75px;
  width: 432px;
}

.caroselling-it .div-26 {
  height: 110px;
  left: 45px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 134px;
}

.caroselling-it .text-wrapper-29 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 106px;
  font-weight: 400;
  height: 141px;
  left: 0;
  letter-spacing: 0;
  line-height: 110px;
  position: absolute;
  top: -17px;
  width: 134px;
}

.caroselling-it .p-6 {
  height: 72px;
  left: 205px;
  position: absolute;
  top: 8px;
  width: 182px;
}

.caroselling-it .overlap-group-5 {
  height: 73px;
  position: relative;
  top: -2px;
  width: 149px;
}

.caroselling-it .text-wrapper-30 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 21.5px;
  font-weight: 400;
  height: 24px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.caroselling-it .strong-7 {
  background-color: #0045ff;
  height: 52px;
  left: 0;
  position: absolute;
  top: 0;
  width: 134px;
}

.caroselling-it .text-wrapper-31 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 22.5px;
  font-weight: 400;
  height: 52px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  width: 134px;
}

.caroselling-it .text-wrapper-32 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20.5px;
  font-weight: 400;
  height: 48px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 25px;
  width: 149px;
}

.caroselling-it .div-27 {
  height: 152px;
  left: 0;
  position: absolute;
  top: 281px;
  width: 432px;
}

.caroselling-it .div-28 {
  height: 110px;
  left: 45px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 141px;
}

.caroselling-it .text-wrapper-33 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 110px;
  font-weight: 400;
  height: 141px;
  left: 0;
  letter-spacing: 0;
  line-height: 110px;
  position: absolute;
  top: -17px;
  width: 141px;
}

.caroselling-it .p-7 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 205px;
  padding: 0px 10.81px 0px 0px;
  position: absolute;
  top: 8px;
}

.caroselling-it .text-wrapper-34 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 21.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  width: 104.15px;
}

.caroselling-it .strong-8 {
  background-color: #0045ff;
  height: 52px;
  margin-top: -26px;
  position: relative;
  width: 171.69px;
}

.caroselling-it .text-wrapper-35 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 22.5px;
  font-weight: 400;
  height: 52px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  width: 172px;
}

.caroselling-it .div-29 {
  height: 152px;
  left: 432px;
  position: absolute;
  top: 281px;
  width: 432px;
}

.caroselling-it .div-30 {
  height: 110px;
  left: 45px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 142px;
}

.caroselling-it .text-wrapper-36 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 110px;
  font-weight: 400;
  height: 141px;
  left: 0;
  letter-spacing: 0;
  line-height: 110px;
  position: absolute;
  top: -17px;
  width: 142px;
}

.caroselling-it .p-8 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 205px;
  padding: 0px 10.92px 0px 0px;
  position: absolute;
  top: 8px;
}

.caroselling-it .text-wrapper-37 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 21.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  width: 149.28px;
}

.caroselling-it .strong-9 {
  background-color: #0045ff;
  height: 28px;
  margin-top: -2px;
  position: relative;
  width: 171.58px;
}

.caroselling-it .text-wrapper-38 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 21.5px;
  font-weight: 400;
  height: 28px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 172px;
}

.caroselling-it .text-wrapper-39 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.caroselling-it .div-31 {
  border-color: #ffffff;
  border-top-style: solid;
  border-top-width: 1px;
  height: 746px;
  left: 60px;
  position: absolute;
  top: 3668px;
  width: 1320px;
}

.caroselling-it .clienti-clienti-wrapper {
  height: 49px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 26px;
  width: 125px;
}

.caroselling-it .clienti-clienti {
  color: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-size: 31px;
  font-weight: 400;
  height: 58px;
  left: 0;
  letter-spacing: 0;
  line-height: 48.8px;
  position: absolute;
  top: -6px;
  white-space: nowrap;
  width: 125px;
}

.caroselling-it .div-32 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 75px;
  left: 330px;
  position: absolute;
  top: 1px;
}

.caroselling-it .div-33 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.caroselling-it .div-34 {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 0px 1px;
  position: relative;
}

.caroselling-it .div-35 {
  height: 140px;
  position: relative;
  width: 990px;
}

.caroselling-it .text-wrapper-40 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 19px;
  font-weight: 400;
  height: 25px;
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 56px;
  white-space: nowrap;
}

.caroselling-it .text-wrapper-41 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 19px;
  font-weight: 400;
  height: 25px;
  left: 330px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 56px;
  white-space: nowrap;
}

.caroselling-it .span-5 {
  align-items: flex-start;
  display: inline-flex;
  left: 934px;
  position: absolute;
  top: 16px;
}

.caroselling-it .text-wrapper-42 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 109px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 109px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.caroselling-it .BRAND-COPYWRITING {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 50px;
  left: 330px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 43px;
  width: 582px;
}

.caroselling-it .COPYWRITING-SOCIAL {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 25px;
  left: 330px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 56px;
  white-space: nowrap;
}

.caroselling-it .text-wrapper-43 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 25px;
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 56px;
  white-space: nowrap;
}

.caroselling-it .a-4 {
  align-items: flex-start;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 22.25px 200.45px 24.25px 209.55px;
  position: relative;
}

.caroselling-it .text-wrapper-44 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 60px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.caroselling-it .div-36 {
  height: 424px;
  left: 60px;
  position: absolute;
  top: 4615px;
  width: 1320px;
}

.caroselling-it .span-6 {
  background-color: #ffffff;
  height: 1px;
  left: 915px;
  position: absolute;
  top: 22px;
  width: 405px;
}

.caroselling-it .div-37 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 69.75px;
  left: 112px;
  position: absolute;
  top: 0;
}

.caroselling-it .h-3 {
  height: 146.25px;
  position: relative;
  width: 675px;
}

.caroselling-it .overlap-group-6 {
  height: 150px;
  position: relative;
  top: -5px;
  width: 638px;
}

.caroselling-it .text-wrapper-45 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 43px;
  font-weight: 400;
  height: 49px;
  left: 0;
  letter-spacing: 0;
  line-height: 48.8px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.caroselling-it .strong-10 {
  background-color: #0045ff;
  height: 58px;
  left: 407px;
  position: absolute;
  top: 0;
  width: 213px;
}

.caroselling-it .text-wrapper-46 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 43px;
  font-weight: 400;
  height: 58px;
  left: 0;
  letter-spacing: 0;
  line-height: 48.8px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 214px;
}

.caroselling-it .strong-11 {
  background-color: #0045ff;
  height: 58px;
  left: 0;
  position: absolute;
  top: 49px;
  width: 253px;
}

.caroselling-it .text-wrapper-47 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 42px;
  font-weight: 400;
  height: 58px;
  left: 0;
  letter-spacing: 0;
  line-height: 48.8px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 254px;
}

.caroselling-it .text-wrapper-48 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 45px;
  font-weight: 400;
  height: 98px;
  left: 0;
  letter-spacing: 0;
  line-height: 48.8px;
  position: absolute;
  top: 52px;
  width: 638px;
}

.caroselling-it .div-38 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  padding: 0px 8.94px 0px 0px;
  position: relative;
}

.caroselling-it .il-designer-non-deve {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 21.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  width: 433.56px;
}

.caroselling-it .text-wrapper-49 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.caroselling-it .div-39 {
  align-items: center;
  display: inline-flex;
  left: 0;
  padding: 0px 60px 0px 0px;
  position: absolute;
  top: 5239px;
}

.caroselling-it .home-quote-desktop-wrapper {
  height: 405px;
  position: relative;
  width: 720px;
}

.caroselling-it .home-quote-desktop {
  height: 400px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 720px;
}

.caroselling-it .div-40 {
  height: 330px;
  margin-left: -660px;
  position: relative;
  width: 1320px;
}

.caroselling-it .p-9 {
  height: 330px;
  left: 142px;
  position: absolute;
  top: 0;
  width: 1178px;
}

.caroselling-it .overlap-group-7 {
  height: 330px;
  position: relative;
  top: -2px;
  width: 1127px;
}

.caroselling-it .text-wrapper-50 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 81.5px;
  font-weight: 400;
  height: 165px;
  left: 0;
  letter-spacing: 0;
  line-height: 82.5px;
  position: absolute;
  top: 0;
  width: 996px;
}

.caroselling-it .strong-12 {
  background-color: #0045ff;
  height: 105px;
  left: 0;
  position: absolute;
  top: 155px;
  width: 472px;
}

.caroselling-it .text-wrapper-51 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 80.5px;
  font-weight: 400;
  height: 105px;
  left: 0;
  letter-spacing: 0;
  line-height: 82.5px;
  position: absolute;
  top: -1px;
  width: 472px;
}

.caroselling-it .strong-13 {
  background-color: #0045ff;
  height: 105px;
  left: 472px;
  position: absolute;
  top: 155px;
  width: 421px;
}

.caroselling-it .text-wrapper-52 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 79.5px;
  font-weight: 400;
  height: 105px;
  left: 0;
  letter-spacing: 0;
  line-height: 82.5px;
  position: absolute;
  top: -1px;
  width: 421px;
}

.caroselling-it .text-wrapper-53 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 82.5px;
  font-weight: 400;
  height: 165px;
  left: 0;
  letter-spacing: 0;
  line-height: 82.5px;
  position: absolute;
  top: 165px;
  width: 1127px;
}

.caroselling-it .text-wrapper-54 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 19px;
  font-weight: 400;
  height: 50px;
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 138px;
  width: 82px;
}

.caroselling-it .div-41 {
  height: 448px;
  left: 60px;
  position: absolute;
  top: 5844px;
  width: 1320px;
}

.caroselling-it .span-7 {
  background-color: #ffffff;
  height: 1px;
  left: 902px;
  position: absolute;
  top: 22px;
  width: 418px;
}

.caroselling-it .div-42 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 70px;
  left: 112px;
  padding: 0px 8.52px 0px 0px;
  position: absolute;
  top: -1px;
}

.caroselling-it .div-43 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.caroselling-it .text-wrapper-55 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 22.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  width: 394.53px;
}

.caroselling-it .p-10 {
  height: 168px;
  position: relative;
  width: 442.5px;
}

.caroselling-it .overlap-group-8 {
  height: 168px;
  position: relative;
  top: -1px;
  width: 443px;
}

.caroselling-it .text-wrapper-56 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 21.5px;
  font-weight: 400;
  height: 144px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  width: 443px;
}

.caroselling-it .strong-14 {
  background-color: #0045ff;
  height: 28px;
  left: 228px;
  position: absolute;
  top: 119px;
  width: 164px;
}

.caroselling-it .text-wrapper-57 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 21.5px;
  font-weight: 400;
  height: 28px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 165px;
}

.caroselling-it .text-wrapper-58 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 22.5px;
  font-weight: 400;
  height: 48px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 120px;
  width: 431px;
}

.caroselling-it .div-44 {
  border-color: #ffffff;
  border-top-style: solid;
  border-top-width: 1px;
  height: 334px;
  left: 60px;
  position: absolute;
  top: 6492px;
  width: 1320px;
}

.caroselling-it .premi-premi-premi-wrapper {
  height: 49px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 26px;
  width: 118px;
}

.caroselling-it .premi-premi-premi {
  color: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-size: 31px;
  font-weight: 400;
  height: 58px;
  left: 0;
  letter-spacing: 0;
  line-height: 48.8px;
  position: absolute;
  top: -6px;
  white-space: nowrap;
  width: 119px;
}

.caroselling-it .div-45 {
  height: 298px;
  left: 184px;
  position: absolute;
  top: 36px;
  width: 1174px;
}

.caroselling-it .div-46 {
  height: 199px;
  left: 0;
  position: absolute;
  top: 0;
  width: 272px;
}

.caroselling-it .awwards-logotype {
  height: 27px;
  left: 38px;
  position: absolute;
  top: 14px;
  width: 173px;
}

.caroselling-it .element-honorable-mentions {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 19px;
  font-weight: 400;
  height: 51px;
  left: 38px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 72px;
  width: 197px;
}

.caroselling-it .div-47 {
  height: 199px;
  left: 311px;
  position: absolute;
  top: 0;
  width: 223px;
}

.caroselling-it .m-png {
  height: 54px;
  left: 38px;
  position: absolute;
  top: 0;
  width: 54px;
}

.caroselling-it .text-wrapper-59 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 26px;
  left: 38px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 72px;
  white-space: nowrap;
  width: 148px;
}

.caroselling-it .div-48 {
  height: 199px;
  left: 573px;
  position: absolute;
  top: 0;
  width: 339px;
}

.caroselling-it .idulommvgf-png {
  height: 36px;
  left: 38px;
  position: absolute;
  top: 9px;
  width: 239px;
}

.caroselling-it .element-special-judge {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 126px;
  left: 38px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 72px;
  width: 264px;
}

.caroselling-it .div-49 {
  height: 199px;
  left: 952px;
  position: absolute;
  top: 0;
  width: 222px;
}

.caroselling-it .bestcss-png {
  height: 24px;
  left: 38px;
  position: absolute;
  top: 15px;
  width: 117px;
}

.caroselling-it .text-wrapper-60 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 26px;
  left: 38px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 72px;
  white-space: nowrap;
  width: 147px;
}

.caroselling-it .div-50 {
  height: 99px;
  left: 0;
  position: absolute;
  top: 199px;
  width: 269px;
}

.caroselling-it .csslight-png {
  height: 50px;
  left: 38px;
  position: absolute;
  top: 2px;
  width: 144px;
}

.caroselling-it .text-wrapper-61 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 26px;
  left: 38px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 72px;
  white-space: nowrap;
  width: 194px;
}

.caroselling-it .div-51 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 146.25px;
  left: 0;
  padding: 0px 25px;
  position: absolute;
  top: 7026px;
}

.caroselling-it .div-52 {
  border-color: #ffffff;
  border-top-style: solid;
  border-top-width: 1px;
  height: 140.75px;
  position: relative;
  width: 1320px;
}

.caroselling-it .lettere-lettere-wrapper {
  height: 49px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 26px;
  width: 137px;
}

.caroselling-it .lettere-lettere {
  color: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-size: 31px;
  font-weight: 400;
  height: 58px;
  left: 0;
  letter-spacing: 0;
  line-height: 48.8px;
  position: absolute;
  top: -6px;
  white-space: nowrap;
  width: 137px;
}

.caroselling-it .text-wrapper-62 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 22.5px;
  font-weight: 400;
  height: 96px;
  left: 330px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 44px;
  width: 408px;
}

.caroselling-it .div-vctheme-posts {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 90px;
  position: relative;
}

.caroselling-it .div-53 {
  height: 1134.62px;
  position: relative;
  width: 1390px;
}

.caroselling-it .article {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 34px;
  left: 20px;
  position: absolute;
  top: 0;
}

.caroselling-it .img-wrapper {
  background-color: #0045ff;
  height: 335.81px;
  position: relative;
  width: 625px;
}

.caroselling-it .img {
  height: 336px;
  left: 0;
  position: absolute;
  top: 0;
  width: 625px;
}

.caroselling-it .div-54 {
  height: 175px;
  position: relative;
  width: 655px;
}

.caroselling-it .text-wrapper-63 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 22.5px;
  font-weight: 400;
  height: 96px;
  left: 15px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  width: 188px;
}

.caroselling-it .text-wrapper-64 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 175px;
  left: 238px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: -1px;
  width: 232px;
}

.caroselling-it .text-wrapper-65 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 109px;
  font-weight: 400;
  height: 50px;
  left: 568px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: right;
  top: 12px;
  white-space: nowrap;
}

.caroselling-it .article-2 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 34px;
  left: 715px;
  position: absolute;
  top: 0;
}

.caroselling-it .text-wrapper-66 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 22.5px;
  font-weight: 400;
  height: 96px;
  left: 15px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  width: 180px;
}

.caroselling-it .text-wrapper-67 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 175px;
  left: 238px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: -1px;
  width: 224px;
}

.caroselling-it .article-3 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 34px;
  left: 20px;
  position: absolute;
  top: 590px;
}

.caroselling-it .text-wrapper-68 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 21.5px;
  font-weight: 400;
  height: 96px;
  left: 15px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  width: 178px;
}

.caroselling-it .il-payoff-la-frase {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 175px;
  left: 238px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: -1px;
  width: 217px;
}

.caroselling-it .article-4 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 34px;
  left: 715px;
  position: absolute;
  top: 590px;
}

.caroselling-it .text-wrapper-69 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 22.5px;
  font-weight: 400;
  height: 144px;
  left: 15px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  width: 177px;
}

.caroselling-it .ci-sono-molti {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 175px;
  left: 238px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: -1px;
  width: 225px;
}

.caroselling-it .a-5 {
  align-items: flex-start;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 22.25px 205.45px 24.25px 204.55px;
  position: relative;
}

.caroselling-it .text-wrapper-70 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 60px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.caroselling-it .footer-main-footer {
  align-items: flex-start;
  display: inline-flex;
  left: 0;
  padding: 0px 60px;
  position: absolute;
  top: 9022px;
}

.caroselling-it .div-55 {
  border-color: #ffffff;
  border-top-style: solid;
  border-top-width: 1px;
  height: 941.75px;
  position: relative;
  width: 1320px;
}

.caroselling-it .div-56 {
  height: 109px;
  left: 0;
  position: absolute;
  top: 46px;
  width: 1320px;
}

.caroselling-it .text-wrapper-71 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 118.5px;
  font-weight: 400;
  height: 109px;
  left: 0;
  letter-spacing: 0;
  line-height: 108.8px;
  position: absolute;
  top: -2px;
  white-space: nowrap;
}

.caroselling-it .ul-4 {
  align-items: flex-start;
  display: inline-flex;
  gap: 30px;
  left: 877px;
  padding: 20px 15px 0px;
  position: absolute;
  top: 5px;
}

.caroselling-it .a-6 {
  height: 33px;
  position: relative;
  width: 126.45px;
}

.caroselling-it .a-after-4 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 1px;
  left: 0;
  position: absolute;
  top: 32px;
  width: 126px;
}

.caroselling-it .a-7 {
  height: 33px;
  position: relative;
  width: 134.41px;
}

.caroselling-it .a-after-5 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 1px;
  left: 0;
  position: absolute;
  top: 32px;
  width: 134px;
}

.caroselling-it .a-8 {
  height: 33px;
  position: relative;
  width: 107.11px;
}

.caroselling-it .a-after-6 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 1px;
  left: 0;
  position: absolute;
  top: 32px;
  width: 107px;
}

.caroselling-it .contact-form-wrapper {
  align-items: flex-start;
  display: inline-flex;
  left: 0;
  padding: 0px 0px 16px 330px;
  position: absolute;
  top: 255px;
}

.caroselling-it .contact-form {
  height: 477px;
  position: relative;
  width: 990px;
}

.caroselling-it .div-57 {
  height: 202px;
  left: -18px;
  position: absolute;
  top: 0;
  width: 1026px;
}

.caroselling-it .select {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 40px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 477px;
}

.caroselling-it .overlap-group-9 {
  height: 27px;
  position: relative;
}

.caroselling-it .image {
  height: 17px;
  left: 464px;
  position: absolute;
  top: 6px;
  width: 13px;
}

.caroselling-it .div-58 {
  align-items: flex-start;
  display: inline-flex;
  left: 0;
  padding: 0px 210px 0px 0px;
  position: absolute;
  top: 0;
}

.caroselling-it .text-wrapper-72 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.caroselling-it .select-2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 40px;
  left: 531px;
  position: absolute;
  top: 0;
  width: 477px;
}

.caroselling-it .div-59 {
  align-items: flex-start;
  display: inline-flex;
  left: 0;
  padding: 0px 412px 0px 0px;
  position: absolute;
  top: 0;
}

.caroselling-it .text-wrapper-73 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.caroselling-it .select-3 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 40px;
  left: 18px;
  position: absolute;
  top: 81px;
  width: 477px;
}

.caroselling-it .div-60 {
  align-items: flex-start;
  display: inline-flex;
  left: 0;
  padding: 0px 258px 0px 0px;
  position: absolute;
  top: 0;
}

.caroselling-it .input {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 40px;
  left: 531px;
  position: absolute;
  top: 81px;
  width: 477px;
}

.caroselling-it .div-placeholder {
  align-items: flex-start;
  display: inline-flex;
  padding: 2px 315px 1px 0px;
  position: relative;
}

.caroselling-it .text-wrapper-74 {
  color: #757575;
  font-family: "Inter-Regular", Helvetica;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.caroselling-it .div-placeholder-wrapper {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 40px;
  left: 18px;
  position: absolute;
  top: 162px;
  width: 477px;
}

.caroselling-it .div-placeholder-2 {
  align-items: flex-start;
  display: inline-flex;
  padding: 2px 299px 1px 0px;
  position: relative;
}

.caroselling-it .input-2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 40px;
  left: 531px;
  position: absolute;
  top: 162px;
  width: 477px;
}

.caroselling-it .div-placeholder-3 {
  align-items: flex-start;
  background: none;
  border: none;
  color: #757575;
  display: inline-flex;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  padding: 2px 328px 2px 0px;
  position: relative;
}

.caroselling-it .textarea {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 121px;
  left: 0;
  position: absolute;
  top: 244px;
  width: 990px;
}

.caroselling-it .div-61 {
  align-items: flex-start;
  display: inline-flex;
  gap: 132px;
  left: -18px;
  padding: 41.25px 18px 0px;
  position: absolute;
  top: 365px;
}

.caroselling-it .p-11 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 3.59px;
  padding: 0px 0px 1.41px;
  position: relative;
}

.caroselling-it .label {
  height: 44px;
  position: relative;
  width: 648px;
}

.caroselling-it .span-8 {
  border: 1px solid;
  border-color: #ffffff;
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 22px;
}

.caroselling-it .spuntando-questa {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  height: 44px;
  left: 28px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: -1px;
  width: 590px;
}

.caroselling-it .text-wrapper-75 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
}

.caroselling-it .text-wrapper-76 {
  text-decoration: underline;
}

.caroselling-it .label-2 {
  height: 22px;
  position: relative;
  width: 273.91px;
}

.caroselling-it .text-wrapper-77 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 22px;
  left: 28px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 246px;
}

.caroselling-it .invia-wrapper {
  align-items: flex-start;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 35px;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 22px 79.97px 24px 80.03px;
  position: relative;
}

.caroselling-it .invia {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.caroselling-it .div-62 {
  border-color: #ffffff;
  border-top-style: solid;
  border-top-width: 1px;
  height: 69px;
  left: 0;
  position: absolute;
  top: 828px;
  width: 1320px;
}

.caroselling-it .text-wrapper-78 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 22px;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 45px;
  white-space: nowrap;
}

.caroselling-it .ul-5 {
  align-items: flex-start;
  display: inline-flex;
  left: 872px;
  position: absolute;
  top: 46px;
}

.caroselling-it .a-9 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 23px;
  position: relative;
  width: 105.41px;
}

.caroselling-it .text-wrapper-79 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 22px;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 106px;
}

.caroselling-it .li {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4.45px;
  padding: 0px 0px 0px 5px;
  position: relative;
}

.caroselling-it .text-wrapper-80 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.caroselling-it .a-10 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 23px;
  position: relative;
  width: 104.73px;
}

.caroselling-it .text-wrapper-81 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 22px;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 105px;
}

.caroselling-it .a-11 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 23px;
  position: relative;
  width: 212.34px;
}

.caroselling-it .text-wrapper-82 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 22px;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 213px;
}

.caroselling-it .div-63 {
  height: 178px;
  left: 60px;
  position: absolute;
  top: 0;
  width: 1320px;
}

.caroselling-it .overlap-2 {
  height: 178px;
  position: relative;
  width: 1329px;
}

.caroselling-it .div-64 {
  height: 178px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1265px;
}

.caroselling-it .overlap-group-10 {
  height: 38px;
  position: relative;
  top: 68px;
  width: 752px;
}

.caroselling-it .text-wrapper-83 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  height: 38px;
  left: 0;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.caroselling-it .ul-6 {
  align-items: flex-start;
  display: inline-flex;
  gap: 50px;
  left: 275px;
  padding: 0px 25px;
  position: absolute;
  top: 8px;
}

.caroselling-it .a-12 {
  height: 26px;
  position: relative;
  width: 117.7px;
}

.caroselling-it .text-wrapper-84 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 19px;
  font-weight: 400;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.caroselling-it .a-after-7 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 1px;
  left: 0;
  position: absolute;
  top: 25px;
  width: 118px;
}

.caroselling-it .a-13 {
  height: 26px;
  position: relative;
  width: 102.81px;
}

.caroselling-it .signup {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.caroselling-it .a-after-8 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 1px;
  left: 0;
  position: absolute;
  top: 25px;
  width: 103px;
}

.caroselling-it .a-14 {
  height: 26px;
  position: relative;
  width: 106.61px;
}

.caroselling-it .a-after-9 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 1px;
  left: 0;
  position: absolute;
  top: 25px;
  width: 107px;
}

.caroselling-it .span-hamb {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 25px;
  left: 1265px;
  position: absolute;
  top: 74px;
  width: 55px;
}

.caroselling-it .text-wrapper-85 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 19px;
  font-weight: 400;
  height: 25px;
  left: 1230px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 63px;
  width: 99px;
}
